<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="myCacheKeyGenerator" class="hello.MyCacheKeyGenerator"/>

    <!--<cache:annotation-driven key-generator="myCacheKeyGenerator"/>-->
    <cache:annotation-driven/>

    <!-- Jedis ConnectionFactory -->
    <bean
            id="jedisConnectionFactory"
            class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
            p:hostName="127.0.0.1"
            p:port="6379"
            p:usePool="true"/>

    <!-- redis template definition -->
    <bean
            id="redisTemplate"
            class="org.springframework.data.redis.core.RedisTemplate"
            p:connectionFactory-ref="jedisConnectionFactory"/>

    <!-- declare Redis Cache Manager -->
    <bean
            id="cacheManager"
            class="org.springframework.data.redis.cache.RedisCacheManager"
            c:redisOperations-ref="redisTemplate"/>

</beans>